* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #bdbcbc;
}

header {
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
}

header h1 {
    color: #1e3041;
    font-weight: 600;
}

header h2 {
    color: #1e3041;
    font-weight: 600;
}

header button {
    background: #1e3041;
    width: 100px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

header button:hover {
    background: #3b5e7e;
    transform: scale(1.05);
    transition: .3s;
}

main {
    
    margin-top: 100px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    /* establece un alto mínimo para el main */
    background: #f0f0f0;
}

.container {

    max-width: 800px;
    /* establece un ancho máximo para el contenedor */
    margin: 0;
    /* centra en el inicio de la pantalla */
    padding: 20px;
    /* agrega un padding para separar el contenido del borde */
}

form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 25px;

}
form h1{
    color: #1e3041;
    font-weight: 600;
    font-size: 2rem;
    margin: 15px 15px 15px 0px;
}
form h3{
    padding: 10px;
    background-color: rgb(204, 240, 169);
    color: #1e3041;
    font-weight: 600;
    font-size: 1rem;
    margin: 15px 15px 15px 65%;
    width: 35%;
   border-radius: 10px;
}


.fila {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: start;
    width:100%;
    
    padding: 10px;
}
.fila label{
    width: 40%;
    font-size: 1rem;
    padding: 10px;
}
.fila input{
    width: 60%;
    font-size: 1rem;    
    border: none;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}


.fila-ads {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: start;
    width:100%;
   
    padding: 10px;
}
.fila-ads label{
    width: 40%;
    font-size: 1rem;
    padding: 10px;
}
.fila-ads input::placeholder {
    font-size: 0.7rem;
    color: #535353;
}
.fila-ads input {
    width: 30%;
    font-size: 1rem;
    border: none;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px; 
}
.ads{
    margin-left: 10px;
    cursor: help;
}

.tooltip{
    background-color: #1e3041;
    width: 70px;    
    height: 20px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
}