*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #bdbcbc;
}

header{
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
}

header .logo{
    position: relative;
    max-width: 100px;
}

header h1{
    position: relative;
    color: #2e4963;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
} 

.institucion{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #2e4963;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

main{
    position: relative;
    max-width: 350px;
    width: 100%;
    margin: 30px;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}
form{
    position: relative;
    width: 100%;
}
form label{
    display: block;
    color: #2e4963;
    margin-bottom: 5px;
    font-size: 16px;
}
form input{
    position: relative;
    width: 100%;
    height: 40px;
    color: #333;
    padding: 0 10px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
}
form input[type="submit"]{
    position: relative;
    max-width: 100px;
    background: #2e4963;
    color: #fff;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

form input[type="submit"]:hover{
    transform: scale(1.05);
    background-color: #1e3041;
    transition: .3s;
    
}

.message{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background: #2e4963;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border: solid 1px #fff;
}

.error{
    background: #ff0000;
    border: solid 1px #fff;
}

.success{
    background: #3ff55d;
    border: solid 1px #fff;
}